<!-- landing.ejs -->

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/landing.css">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <section id="hero">
    <div class="container">
      <h1 class="hero-title">Welcome to Postfriend</h1>
      <p class="hero-description">
        Share your thoughts, ideas, and collaborate with others in a giant shared space.
      </p>
      <a href="/auth/login" class="btn btn-primary">Get Started</a>
    </div>
  </section>

  <!-- Make this collapsible -->
  <div id="post-section">
    <form id="post-form">
      <textarea name="content" id="post-content" rows="5" required></textarea>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>

  <div class="posts">
    <% if (posts) {%>
      <% posts?.forEach(function(post) { %>
      <div class="post">
        <p><%= post.content %>
        </p>
        <p><%= post.author?.username%>
        </p>
      </div>
      <% }); %>
      <% } else { %>
        <p>No posts to display.</p>
      <% } %>
  </div>

</body>

<script>
  document.getElementById('post-form').addEventListener('submit', async (event) => {
  event.preventDefault();
  const form = event.target;

  const content = form.elements.content.value;

  const data = { content }; // Remove outgoingLinks if not needed for this form

  const response = await fetch('/api/posts', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(data)
  });

  if (response.ok) {
    // form.reset(); // Reset the form fields after successful post submission
    window.location.reload();
  } else {
    // Handle or display error
    alert("Failed to create post. Please try again.");
  }
});
</script>